.information {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: navy;
  padding: 15px;
  border-radius: 25px;
}
.informationLogo {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}
.informationLeft {
  width: 500px;
}
