@media only screen and (max-width: 540px) and (min-width: 0px) {
  .container {
    width: 540px;
    margin: 0 auto;
    padding: 0px;
  }
  header {
    flex-direction: column;
    h1 {
      font-size: 48px;
    }
    h3 {
      font-size: 45px;
    }
    a {
      font-size: 45px;
    }
    .information {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      background-color: black;
      padding: 5px;
      border: 10px;
      width: 300px;
    }
    .informationLeft {
      width: 150px;
    }
    .informationLogo {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
  }
  .Pokemon {
    width: 540px;
    transform: translateX(350px);
  }
  input {
    width: 250px;
  }
}

.container {
  background-color: black;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Pokemon {
  display: flex;
  justify-content: center;

  align-items: center;
  border-radius: 15px;
  font-size: 40px;
  color: white;
  background-color: darkcyan;
}
.searchArea {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  input {
    height: 50px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid transparent;
    width: 450px;
    font-size: 20px;
  }
  .Telegram {
    font-size: 18px;
    text-decoration: none;
  }
  button {
    width: 150px;
    padding: 15px 25px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 54px;
    font-size: 22px;
    background-color: red;
    border: 1px solid transparent;
  }
}
.name {
  text-align: center;
  margin-top: 25px;
  font-size: 35px;
}
.pokemon_img {
  transform: translateX(500px);
  background-color: transparent;
  width: 250px;
}
.pokemon__p {
  text-align: center;
  font-size: 32px;
}
.ballcards {
  display: inline-block;
}
.ball {
  width: 300px;
  background-color: black;
  color: white;
  margin-top: 25px;
  padding: 10px 25px;
  border-radius: 15px;
  box-shadow: 5px 2px 2px white;
  margin-left: 50px;
}
.informatin {
  text-align: center;
  color: darkolivegreen;
}
.ballimg {
  width: 275px;
  border-radius: 15px;
  height: 250px;
}

.Card {
  background-color: black;
  padding: 10px;
  border-radius: 15px;
}

.informatin {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.container-part-two {
  width: 1240px;
  margin: 0 auto;
  background-color: grey;
  color: white;
  padding: 25px 50px;
  border-radius: 25px;
}

.information {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: navy;
  padding: 15px;
  border-radius: 25px;
}
.informationLogo {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}
.informationLeft {
  width: 500px;
}
